.toolbar button {
  border-radius: 20%;
  height: 45px;
  width: 45px;
  border-width: 5px;
}

.toolbar {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 3px; 
}

.toolbar .selected {
  border-color: #00c892;
}
