.timeline{
    color: white;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    background-color: rgb(5, 6, 45);
}
.frame-counter{
    padding: 5px;
    font-size: large;
}
.timeline button{
    background-color: #00c892;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 40%;
    height: 14px;
    border-radius: 10px;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #00c892;
    cursor: pointer;
    -webkit-appearance: none;
  }